<div id = "c_<%= @conversation.id %>" class = "message-holder">
	<% @conversation.messages.each do |message| %>
	<br>
	<%= User.find(message.user_id).email %>: <%= message.text %>
	<br>
	<% end %>
	<br>


</div>