App.cable = ActionCable.createConsumer("/cable")
App.conversation = App.cable.subscriptions.create "ConversationChannel",
  connected: ->
    # Called when the subscription is ready for use on the server
    
  disconnected: ->
    # Called when the subscription has been terminated by the server
    
  received: (data) ->
    conversation_container = $("#c_#{data['conversation_id']}")
    if $("#c_#{data['conversation_id']}").length == "0"
      $("#ch_#{data['receiver_id']}").append("<div><br>From:#{data['user_email']}<br>To:#{data['receiver_email']}</div>");
    if window.id == data['current_user_id']
      conversation_container.append("<br><br><div class = 'my-message'><div class = 'my-message-user'>#{data['user_email']}</div><div>#{data['text']}</div></div><br>")
    else
      conversation_container.append("<br><br><div class = 'other-message'><div class = 'other-message-user'>#{data['user_email']}</div><div>#{data['text']}</div></div><br>")

  speak: (user_email, user_id, text, conversation_id) ->
    $(".message-text-input").val("")
    @perform 'speak', {user_email: user_email, user_id: user_id , text: text, conversation_id: conversation_id }

